# ==============================================
# Common SEPolicy Rule
# ==============================================

allow uncrypt uncrypt:capability fowner;

get_prop(uncrypt, exported_system_prop)
set_prop(uncrypt, exported_system_prop)
